<header class="header">
  <section class="page-header">
    <div class="container nav-container">
      <a href="#" class="page-logo">
        <picture>
              <source
                srcset="
                  /src/img/logo.png 1x,
                  /src/img/logo@2x.png 2x
                "
                media="(min-width: 1280px)" />
  
              <source
                srcset="
                  /src/img/logo.png 1x,
                  /src/img/logo@2x.png 2x
                "
                media="(min-width: 768px)" />
                <source
                srcset="
                  /src/img/logo.png 1x,
                  /src/img/logo@2x.png 2x
                "
                media="(min-width: 320px)" />
  
              <img src="./src/img/logo@2x.png" alt="page-logo" width="200" height="50" loading="lazy" />
          </picture>
        
      </a>

        <div class="menu"data-menu> 
          <nav>
            <ul class="menu__list">
            <li class="menu__item"><a href="#" class="menu__link menu__link--current">About us</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Our Courses</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Teachers</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Testimonials</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Contact Us</li>
          </ul>
          </nav>
        </div>
    </div>
  </section>
</header>
