<section id="leave-form" class="form-section-mod">
  <div class="wrapper-mod">
    <div class="form-header-container-mod">
      <h2 class="main-header-mod">
        Submit a <span class="form-marker-mod">request</span>
      </h2>
      <p class="form-header-description-mod">
        Kindly use the form below to reach us. Enter your name, email, and message, and we'll respond shortly.
      </p>
    </div>
    <div class="form-body-container-mod">
      <div class="form-image-wrapper-mod">
        <img
          class="form-image-mod"
          src="./img/girl-learning-with-laptop@2x.jpg"
          alt=""
        />
        <div class="image-text-mod">
          <p class="main-image-text-mod form-header-mod">
            1000
          </p>
          <p class="image-description-mod">
            of our online English language lessons! This journey has been full of learning, growth, and memorable moments. We are excited to celebrate this milestone with you.
          </p>
        </div>
      </div>
      <form class="input-form-mod">
        <input
          class="form-border-mod"
          type="text"
          name="fullname"
          placeholder="Full Name"
          required
        />
        <input
          class="form-border-mod"
          type="email"
          name="contactEmail"
          placeholder="Email Address"
          required
        />
        <input
          class="form-border-mod"
          type="tel"
          name="contactNumber"
          placeholder="Phone Number"
          required
        />
        <textarea
          class="form-border-mod"
          name="message"
          placeholder="Your Message"
        ></textarea>
        <p class="choose-instructor-mod">Select an Instructor</p>
        <div class="instructor-options-mod">
          <label
            ><input type="radio" name="instructor" value="Maria" required />
            Maria</label
          >
          <label
            ><input type="radio" name="instructor" value="Artem" /> Artem</label
          >
          <label
            ><input type="radio" name="instructor" value="Ilona" /> Ilona</label
          >
          <label
            ><input type="radio" name="instructor" value="Volodymyr" />
            Volodymyr</label
          >
        </div>
        <button type="submit" class="submit-btn-mod">Submit</button>
        <p class="submit-info-mod">
          By clicking “Submit”, you agree to our Privacy Policy and permit us to use this information for marketing.
        </p>
      </form>
    </div>
  </div>
</section>
