<section id="leave-application" class="application-section">
  <div class="container">
    <div class="application-heading-container">
      <h2 class="about-header">
        Leave an <span class="application-marker">application</span>
      </h2>
      <p class="header-app-desc">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>
    <div class="form-app-container">
      <div class="image-app-container">
        <img
          class="image-app"
          src="./img/girl-learning-with-laptop@2x.jpg"
          alt=""
        />
        <div class="image-desc">
          <p class="main-line-image header-app">
            1000
          </p>
          <p class="descript">
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>