<section id="leave-form" class="form-section">
  <div class="wrapper">
    <div class="form-header-container">
      <h2 class="main-header">
        Submit a <span class="form-marker">application</span>
      </h2>
      <p class="form-header-description">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>
    <div class="form-body-container">
      <div class="form-image-wrapper">
        <img
          class="form-image"
          src="./img/girl-learning-with-laptop@2x.jpg"
          alt=""
        />
        <div class="image-text">
          <p class="main-image-text form-header">
            1000
          </p>
          <p class="image-description">
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>
      <form class="input-form">
        <input
          class="form-border"
          type="text"
          name="fullname"
          placeholder="Name"
          required
        />
        <input
          class="form-border"
          type="email"
          name="contactEmail"
          placeholder="Email"
          required
        />
        <input
          class="form-border"
          type="tel"
          name="contactNumber"
          placeholder="Phone"
          required
        />
        <textarea
          class="form-border"
          name="message"
          placeholder="Comment"
        ></textarea>
        <p class="choose-instructor">Select an Instructor</p>
        <div class="instructor-options">
          <label
            ><input type="radio" name="instructor" value="Maria" required />
            Maria</label
          >
          <label
            ><input type="radio" name="instructor" value="Artem" /> Artem</label
          >
          <label
            ><input type="radio" name="instructor" value="Ilona" /> Ilona</label
          >
          <label
            ><input type="radio" name="instructor" value="Volodymyr" />
            Volodymyr</label
          >
        </div>
        <button type="submit" class="submit-btn">Submit</button>
        <p class="submit-info">
          By clicking on “Send” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
