
.page-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .page-logo {
    cursor: pointer;
    &:hover,
    &:focus {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
  .navigation {
    @media screen and (max-width: 1279px) {
      display: none;
    }
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 768px) {
      padding-top: 37px;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 46px;
    }
  }
  .nav-flex {
    display: inline-flex;
    align-items: center;
    z-index: 1;
  }
  .nav__list {
    @media screen and (min-width: 1280px) {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      display: flex;
      margin: 0 110px;
    }
  }
  .nav__item {
    @media screen and (min-width: 1280px) {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
  .nav__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1280px) {
      color: var(--black-color);
      &:hover,
      &:focus {
        color: var(--green-color);
      }
    }
  }
  .nav__link--current {
    color: var(--semi-green-color);
  }
   .menu__open {
    z-index: 1;
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  .menu {
    @media screen and (max-width: 1279px) {
      z-index: 10001;
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  
      background-color: var(--green-color);
      width: 250px;
      padding-top: 60px;
      padding-left: 21px;
      flex-direction: column;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (max-width: 1279px) and (min-width: 768px) and (max-width: 1279px) {
      padding-left: 24px;
      padding-right: 24px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  
  .menu__list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    margin-top: 32px;
  }
  .menu__item {
    @media screen and (max-width: 1279px) {
      display: block;
      border-top: 1px solid #e18298;
      padding-top: 11px;
      padding-bottom: 12px;
    }
  }
  .menu__link {
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--light-green-color);
    }
  }
  .menu__link--current {
    color: var(--semi-green-color);
  }
  .menu__close {
    position: fixed;
    top: 23px;
    right: 34px;
    background-color: transparent;
    border: none;
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
  .icon-close {
    background-color: transparent;
    &:hover,
    &:focus {
      fill: var(--green-color);
    }
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
  .button__link {
    text-decoration: none;
  }
  