.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-background-color);
  margin-bottom: 80px;
}

.form-header-container {
  text-align: center;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}

.form-header {
  font-family: var(--primary-font);
  font-weight: var(--bold-weight);
  font-size: var(--mobile-header-font-size);
  line-height: 1.125;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.form-marker {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.form-marker::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4em;
  background-color: #bee8cc;
  z-index: -1;
  border-radius: 8px;
}

.form-header-description {
  font-size: var(--desktop-button-font-size);
  color: #12141780;
  line-height: 1.667;
  margin: 0 auto;
}

.form-body-container {
  display: flex;
  background-color: var(--primary-background-color);
  overflow: hidden;
  flex-direction: row;
}

.form-image-wrapper {
  color: var(--primary-background-color);
  background-color: var(--secondary-color);
  border-radius: var(--card-border-radius);
  overflow: hidden;
  max-width: 492px;
  display: none;
}

.form-image-wrapper .form-image {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.form-image-wrapper .image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0 20px 40px;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-form input,
.input-form textarea {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--input-border-radius);
  font-size: var(--mobile-font);
}

.input-form textarea {
  height: 100px;
  resize: none;
}

.form-border {
  width: 100%;
  height: 56px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  outline: none;
}

.form-border:focus {
  border-color: var(--focus-color);
  outline: none;
}

.instructor-options {
  margin-bottom: 32px;
  font-size: var(--paragraph-title-size);
  font-weight: var(--semi-bold-weight);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.instructor-options input[type='radio'] {
  accent-color: green;
  width: 20px;
  height: 20px;
}

.choose-instructor {
  font-size: var(--paragraph-title-size);
  font-weight: var(--semi-bold-weight);
  line-height: 1.5;
  color: var(--black-color);
  margin-bottom: 16px;
}

.submit-info {
  font-size: var(--small-font-size);
  font-weight: var(--regular-weight);
  line-height: 1.333;
  color: #12141780;
}

@media only screen and (min-width: 768px) {
  .form-header-container {
    margin-bottom: 64px;
  }

  .form-header {
    margin-bottom: 16px;
  }

  .form-header-description {
    width: 586px;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 102px;
    margin-top: 64px;
  }

  .instructor-options {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 32px;
  }

  .instructor-options input[type='radio'] {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .input-form {
    margin-top: 0px;
  }

  .image-description {
    font-size: var(--desktop-paragraph-font-size);
    font-weight: var(--regular-weight);
    line-height: 1.5;
    color: #FFFFFFB2;
    text-align: center;
  }

  .form-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .main-image-text {
    margin-bottom: 8px;
    font-size: var(--main-heading-size);
    font-weight: var(--bold-weight);
    line-height: 1.333;
    color: #FFFFFFB2;
    text-align: center;
  }

  .form-header-description {
    width: 709px;
  }

  .instructor-options {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 32px;
  }
}
